.shop-history {
    background-color: darkviolet;
    height: auto;
    padding-bottom: 50px;
}

.shop-history-title {
    margin-top: 50px;
}

.shop-history-header{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.shop-history-header-delete{
    color: red;
    cursor: pointer;
}

.shop-history-header-delete:hover{
    color: black;
}

.customer-history-back-button{
    margin-top: 400px;
    border: none;
    padding: 30px;
    font-size: 1.6em;
    border-radius: 20px;
    background-color: rgb(50,250,0);
    color: white;
    cursor: pointer;
}

.customer-history-back-button:hover {
    background-color: black;
}