.customer-history{
    background-color: darkviolet;
    height: auto;
    padding-bottom: 50px;
}

.customer-history > .customer-history-header{
    display: flex;
    justify-content: space-between;
}
.customer-history-no-list{
    margin-top: 100px;
    text-align: center;
}

.customer-history-header-delete{
    margin-right: 10px;
    color: red;
    cursor: pointer;
}
.customer-history-header-delete:hover{
    color: black;
}

.customer-history-div {
    padding-bottom: 30px;
    text-align: center;
}

.customer-history-back{
    border: none;
    font-size: 2em;
    /* margin-top: 20px; */
    /* padding: 10px 20px; */
    margin-left: 30px;
    color: yellow;
    cursor: pointer;
}
.customer-history-back:hover{
    color: black;
}

.histories {
    display: flex;
    background-color: #f1f2f3;
    padding: 20px;
    font-size: 1.2em;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}

.histories > .histories-delete{
    cursor: pointer;
    color: red;
    margin-top: 10px;
    margin-left: 30px;
}   
.histories > .histories-delete:hover{
    color: black;
}   
.histories-appear {
    color: blue;
    cursor: pointer;
    margin-top: 10px;
    margin-right: -10px;
}
.histories-appear:hover {
    color: black;
}

.customer-history-header{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}