.customer-index {
    background-color: darkviolet;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 40px;
}

.customer-index-avatar{
    cursor: pointer;
    /* position: absolute; */
    /* margin-left: 100px; */
    display: flex;
    justify-content: space-between;
}

.customer-index-logo {
    text-align: center;
    margin-top: 50px;
}

.customer-index-logo > .customer-index-logo-image {
    height: 350px;
    width: 350px;
    background-color: yellow;
    border-radius: 50%;
    padding: 20px;
}


.customer-index-start {
    margin-top: 80px;
    font-size: 3em;
    margin-left: 70px;
    margin-right: 70px;
    border: none;
    padding: 20px;
    cursor: pointer;
    background-color: rgb(50,250,0);
}
.customer-index-map {
    margin-top: 80px;
    font-size: 3em;
    margin-left: 70px;
    margin-right: 70px;
    border: none;
    cursor: pointer;
    padding: 20px;
    background-color: orange;
}

.customer-index-start:hover{
    background-color: #f1f2f3;
    color: grey;
}
.customer-index-map:hover{
    background-color: #f1f2f3;
    color: grey;
}