.customer-map {
    background-color: darkviolet;
    height: 100vh;
}

.customer-map-back-button{
    text-align: center;
    border: none;
    margin-top: 30px;
    background-color: rgb(50,250,0);
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.customer-map-back-button:hover{
    color: white;
    background-color: black;
}