.customer-order {
    background-color: darkviolet;
    height: auto;
    padding-bottom: 30px;
}

.customer-order-form {
    margin-top: 30px;
    align-items: center;
    text-align: center;
}

.customer-order-form-info-detail{
    display: flex;
    justify-content: space-evenly;
    background-color: yellow;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}
.customer-order-form-info-detail-title {
    font-size: 2em;
}

.customer-order-form-info-detail > select {
    font-size: 1.6em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


.customer-order-text-area {
    resize : none;
    font-size : 2.5em;
    padding: 10px;
    margin-top: 30px;
}
.customer-order-photo {
    margin-top: 30px;
}

.customer-order-button {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.customer-order-button > button {
    border: none;
    padding: 15px;
    font-size: 1.8em;
    cursor: pointer;
    border-radius: 20px;
}

.customer-order-button-search {
    color: white;
    background-color: rgb(50,250,0);
}
.customer-order-button-cancel {
    color: white;
    background-color: red;
}

.customer-order-button-cancel:hover, .customer-order-button-search:hover {
    background-color: black;
}

.customer-order-photo-icon {
    margin-left: 30px;
    color: orange;
    cursor: pointer;
}
.customer-order-photo-icon:hover{
    color: black;
}

.customer-order-prevent {
    height: 100vh;
    background-color: darkviolet;
}

.customer-order-prevent-tag {
    font-size: 2.5em;
    color: wheat;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 70px;
}