.customer-waiting {
    background-color: darkviolet;
    height: 100vh;
    /* display: f; */
}

.customer-waiting-tag {
    font-size: 2.5em;
    margin-top: 50px;
    /* text-align: center; */
    color: wheat;
}
.customer-waiting-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customer-waiting-button {
    margin-top: 50px;
    border: none;
    font-size: 2em;
    padding: 20px;
    border-radius: 20px;
    background-color: red;
    color: white;
    cursor: pointer;
}

.customer-waiting-button:hover{
    background-color: black;
}

.customer-waiting-cancel-title {
    margin-top: 70px;
    text-align: center;
    font-size: 2.5em;
    color: gold;
}

.customer-waiting-cancel-button {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
}

.customer-waiting-cancel-button > button {
    cursor: pointer;
    border: none;
    padding:  30px;
    font-size: 1.8em;
    border-radius: 20px;
    color: white;
}

.customer-waiting-cancel-button > button:hover {
    background-color: black;
}

.customer-waiting-cancel-yes {
    background-color: rgb(50,250,0);
}
.customer-waiting-cancel-no {
    background-color: red;
}